/*	
	colors:
	  background:		Magnolia Mag.nolia [#F9F7ED]
	  divs:				Qoop Mint [#CDEB8B]
	  text:				Shadows Grey [#36393D]
	  borders:			Shadows Grey [#36393D]
	  headerdivs:		Basecamp Green [#6BBA70]
	  headertext:		Shadows Grey [#36393D]
	  headerborders:	Shadows Grey [#36393D]
	  links:			Shadows Grey [#36393D]
	  links, hover:		Mozilla Blue [#3F4C6B]
*/
	 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/*
 * basic website layout styling
 */
body 							{ font-family: verdana, helvetica, arial, sans-serif; font-size: 12px; margin: 5px; background-color: #F9F7ED; color: #36393D; }
@font-face 						{ font-family: 'MEgalopolisExtra'; src: url('../fonts/MEgalopolisExtra.otf'); }  
@font-face 						{ font-family: 'MEgalopolisExtra'; src: url('../fonts/MEgalopolisExtra.otf'); font-weight: bold; }  
a, a:visited					{ color: #36393D; font-decoration: underline; }
a:hover							{ color: #3F4C6B; font-decoration: underline; }
li.current_ancestor > a,
li.current > a,
a.current						{ font-weight: bold; }
li ul li a						{ font-weight: normal; }
h1, h2, h3						{ font-family: 'MEgalopolisExtra'; font-weight: bold; }
h1								{ font-size: 200%; letter-spacing: 10px; }
h2								{ font-size: 175% }
h3								{ font-size: 150% }
.site_container					{ width: 1000px; margin: 0 auto; height: 100%; }
.site_header					{ height: 60px; background-color: #6BBA70; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #36393D; color: #36393D;
								  margin-bottom: 5px; }
.site_header .menu ul			{ list-style: none; padding: 0 10px; }
.site_header .menu ul li		{ float: left; padding-right: 10px; }
.site_header .menu ul li a		{ font-family: 'MEgalopolisExtra'; font-weight: normal; font-size: 14px; text-decoration: none; }
.site_title						{ padding: 10px 0px; height: 20px; text-align: center; }
.site_content					{ min-height: 500px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #36393D; background-color: #CDEB8B; }
.site_content-inner				{ width: 670px; float: left; min-height: 500px; padding: 10px; }
.site_content-sidebar			{ width: 295px; float: left; min-height: 500px; padding: 10px 10px 10px 0px; }
.site_content-sidebar .menu ul  { list-style: dotted; margin: 10px 0px 0px 0px; }
.site_content-sidebar .menu ul li{ margin: 0px 0px 0px 15px; }
.clearfix						{ clear: both; height: 0px; }

.editables_container					{ position: relative }
.editables_container .editables_admin	{ position: absolute; top: 5px; right: 5px; }
.editables_container .editables_admin a	{ text-decoration: none; }

/*
 * block styling
 */
.block 							{ min-height: 100px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #36393D; background-color: #CDEB8B;
								  float: left; margin: 10px 0px; width: 330px; }
.block.left						{ margin-right: 5px; clear: both; }
.block.right					{ }
.site_content-sidebar .block	{ width: 295px; clear: both; }
.block.two-col 					{ width: 670px; clear: both; }
.block .header 					{ padding: 5px; background-color: #6BBA70; border-bottom: 1px solid #36393D; font-family: 'MEgalopolisExtra'; font-size: 14px; height: 16px; }
.block .content 				{ padding: 5px; }

/*
 * form styling
 */
form .row						{ margin-top: 10px; }
form .row.submit				{ margin-top: 50px; text-align: right; }
form .row label					{ font-weight: bold; font-size: 14px; margin: 5px 0px 5px 3px; font-family: 'MEgalopolisExtra'; }
form .row input, textarea		{ -moz-border-radius: 5px; -webkit-border-radius: 5px;border: 1px solid #36393D; background-color: #36393D; color: gray;
								  width: 650px; padding: 4px; }
form .row textarea				{ min-height: 200px; }
form .row .button				{ cursor: pointer; color: #36393D; background-color: gray; width: auto; padding: 4px 10px; font-family: 'MEgalopolisExtra'; font-size: 16px; }
