<i>look at my sidebar!</i> <br />
{% if user %}
Hello {{ user.username }}!<br />
<div class="menu">
	{{ menu('loggedin') }}
</div>
{% else %}
Maybe you should <a href="{{ path('_security_login') }}">login</a>?
{% endif %}